<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>text5</display-name>
  <servlet>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.demo.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/text5/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>com.demo.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/text5/register</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.listener.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/checklogin</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login2.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.listener.ProductChangeListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.demo.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginnumServlet</display-name>
    <servlet-name>loginnumServlet</servlet-name>
    <servlet-class>com.demo.loginnumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginnumServlet</servlet-name>
    <url-pattern>/loginnumServlet</url-pattern>
  </servlet-mapping>
</web-app>